@using MvcKutubhane.Models.Entity
@model List<TBLKITAP>
@using System.Web;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfasi</h2>

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Aranacak Kitap Adini Girin: &nbsp; </b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}



<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adi</th>
        <th>Kitap Yazari</th>
        <th>Kategorisi</th>
        <th>Basim Yili</th>
        <th>Yayinevi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Kitap Resim</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.AD</td>
            <td>@k.TBLYAZAR.AD&nbsp; @k.TBLYAZAR.SOYAD</td>
            <td>@k.TBLKATEQORI.AD</td>
            <td>@k.BASIMYIL</td>
            <td>@k.YAYINEVI</td>
            <td>@k.SAYFA</td>
            <td>@k.DURUM</td>
            <td>@k.KITAPRESIM</td>
            <td><a href="/Kitap/KitapSil/@k.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@k.ID" class="btn btn-success">Guncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>