@model MvcKutubhane.Models.Entity.TBLHAREKET

@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Haraket ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>Kitap Adi</label>
        @Html.TextBoxFor(k => k.TBLKITAP.AD, new { @class = "form-control" })
        <br />
        <label>Uye</label>
        @Html.TextBoxFor(k => k.TBLUYELER.AD, new { @class = "form-control" })
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(k => k.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
        <br />
        <label>Alish Tarihi</label>
        @Html.TextBoxFor(k => k.ALISTARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Normal Iade Tarihi</label>
        @Html.TextBoxFor(k => k.IADETARIH, new { @class = "form-control" })
        <br />
        <label>Uyenin Getirdigi Tarih</label>
        <input type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Gec Gelen Gun Sayisi</label>
        <input type="text" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
        
    </div>
    <div>
        <button class="btn btn-group" style="background-color:#c636cc;color:white">Odunc Kitapi Geri Al</button>
    </div>
}

